<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restbehavior">
          <webHttp />
        </behavior>
        <behavior name="SampleEvolventWebBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="servicebehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SampleEvolventSvcBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="SampleEvolventSvcBehaviour" name="EvolveHealthREST.EvolventHealth">
        <endpoint address="" behaviorConfiguration="SampleEvolventWebBehaviour"
          binding="webHttpBinding" bindingConfiguration="" name="SampleEvolventSvcWebHttpBinding"
          contract="EvolveHealthREST.IEvolventHealth" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="SampleEvoplventMexEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/EvolveHealth" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>